<div class ="container offset-2">
 <div class ="col-10">
  <% @squares.each do |square| %>
   <div class="nes-container is-dark with-title">
    <p class="title">
     <%= square.title %>
    </p>
     <div class ="d-flex flex-wrap">
      <%= link_to square_path(square.id) do %>
       <%= attachment_image_tag square, :image, size: "150x150", format: 'jpeg' %>
      <% end %>
       <div class ="col-8 offset-1">
        <%= square.description %>
       </div>
     </div>
    </div>
   <% end %>
 </div>
</div>