<div class ="container offset-1">
<div class ="row">
<div>デッキレシピMy square</div>
</div>

<div class ="mt-5">
<div class="row">
      <div class="d-flex flex-wrap col-6">
<% @users.each do |user| %>
 <% user.deck_squares.each do |deck_square| %>
     <%= attachment_image_tag deck_square.square, :image, size: "150x150", format: 'jpeg' %>
    <% end %>
    <% end %>
    </div>
 </div>
 </div>
</div>
</div>
</div>