// Place all the styles related to the Squares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.square-page{
  background-image: image-url("square-stage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.square_comment_content{
  word-break: break-word;
}