// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deck_squares{
  margin-left: 110px;

}

.mysquare-theme{
  width:694px ;
}

.mypage{
  background-image: image-url("mypage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.user-info-box{
  position: absolute;
  bottom: 0;
}
