// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deck_squares{
  border: double 10px #900;
    background-color: #c60;

}






.mysquare-theme{
  width:890px ;
}

.squares{
  // width: 33%;
}

.mypage{
  background-image: url(mypage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}